.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f1f1f1;
    flex-direction: column;
    background-color: grey;
}

.body{
    margin: 0;
    padding: 0;
    background-color: gray;
}

.button-container{
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button{
    background-color: #f1f1f1;
    color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

#output{
    font-size: 100px;
}
#lap{
    font-size: 20px;
    color: #f1f1f1;
    list-style-type: none;//this takes off the bullet points off laps 
}

.title{
    display: flex;
    justify-content: center;
}

.lap-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    
}

#difference-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    padding: 10px;

}

#difference{
    margin-left: 10px;
    color: #f1f1f1;
    

}
