.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

body{
    margin: 0;
    padding: 0;

}

.button-container{
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 5px;
}
